.spinner-container {
  position: fixed;
  width: 100svw;
  height: 100svh;
  background:rgba(0, 0, 0, 0.589);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loading-spinner {
  width: 120px;
  height: 120px;
  border: 12px solid #e0e0e0;
  border-top: 12px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
